.launchItemContainer {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 15px;
}
.launchItemContainer > .imageContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.launchItemContainer > .imageContainer > .imageInnerContainer {
  padding: 5px;
  background-color: #f2f2f2;
  max-height: 256px;
  max-width: 256px;
  width: 100%;
  height: 100%;
}

.launchItemContainer > .launchItemInfoContainer {
  display: flex;
  flex-direction: column;
}
.launchItemName {
  color: #545d9d;
  font-weight: 900;
}
.missionIdContainer > label {
  font-weight: 900;
  color: #171717;
}

.infoContainer > label {
  font-weight: 900;
  color: #171717;
  font-size: .9rem;
}
.infoContainer > label > span {
  font-weight: 400;
  color: #545d9d;
}
